{{- /* This is not really a test, more like an example of template control structures */ -}}
{{- if and .v_true_1 (not .v_false_1) -}}
Line 1 that shows
  {{- if and .v_true_1 .v_false_1}}
Line 2 that shows not
  {{- end}}
  {{- if or (and .v_true_1 .v_false_1) (not (and .v_true_2 .v_false_2))}}
Line 3 that shows
  {{- end}}
{{- /* Line below, {{- end -}} strips something that I don't know what it is and fails the test.
       Beats me, expected file does not seem to have a trailing <nl> */ -}}
{{- end}}

{{/* Funtion sequence and loop.
     This demonstrates saving current level when changing . */}}
{{- $save := . -}}
{{- range sequence 0 3 -}}
{{$save.z}}{{.}}
{{end -}}

{{- /* Funtion hash */}}
{{hash "Hash me"}}
